* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}
/* Estilo do Cabeçalho */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
}
/* Container da logo e título */
.logo-container {
    display: flex; 
    align-items: center; 
    gap: 15px; 
    margin-bottom: 20px; 
}

/* tamanho da logo */
.logo-container img.logo { 
    max-width: 200px; 
    height: auto;
}

/* Estilo do Título H1 */
.logo-container h1 {
    font-size: 2.2em; 
    color: #333333; 
    margin: 0; 
}

/* alinhamento do menu de navegação */
.main-nav ul {
    list-style: none; 
    display: flex; 
    justify-content: center; 
    gap: 25px; 
    padding: 0;
    margin: 0;
}

/* Estilo dos Links do Menu */
.main-nav ul li a {
    text-decoration: none; 
    color: #3f3f3f; 
    font-weight: bold;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    transition: color 0.3s ease; 
}

/* Efeito ao passar o mouse sobre os links do menu */
.main-nav ul li a:hover {
    color: #3d7bff; 

}

/* Estilo da Seção inicial - tela de index*/
#hero {
    display: grid;
    grid-template-columns: 55% 1fr; 
    gap: 30px; 
    align-items: center; 
    min-height: 350px; 
    background-color: #3983c7; 
    color: white; 
    padding: 30px 5%; 
    overflow: hidden; 
}

/* Estilo da Seção inicial - tela de index*/
.heroText {
    grid-column: 1 / 2; 
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}

/* Estilo da imagem na seção inicial - tela de index */
.heartMedia {
    height: 100%; 
    overflow: hidden; 
}

/* Estilo da imagem na seção inicial - tela de index*/
.heartMedia img {
    grid-column: 2 / 3; 
    height: 100%; 
    overflow: hidden;
    border-radius: 8px;

}

/* Estilo da seção de estatísticas - index*/
.estatisticas {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  gap: 30px;
}

/* Estilo da imagem na seção de estatísticas quais contem pessoas doando - index */
.equipeDoandoAlimentos{
    flex-basis: 45%;
}

/* Estilo da imagem na seção de estatísticas quais contem pessoas doando - index*/
.equipeDoandoAlimentos img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Estilo do texto na seção de estatísticas - index */
.estatisticasText {
    flex-basis: 55%;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo da seção de chamada para engajamento - index  */
.chamada-engajamento {
    display: grid;
    grid-template-columns: 55% 1fr; 
    gap: 30px; 
    align-items: center; 
    min-height: 350px; 
    background-color: #3983c7; 
    color: white; 
    padding: 30px 5%; 
    overflow: hidden; 
}

/* Estilo da imagem na seção de chamada para engajamento - index */
.chamadaImage {
    grid-column: 2 / 3;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
}

/* Estilo do texto na seção de chamada para engajamento - index/Home */
.chamadaText {
    grid-column: 1 / 2; 
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}

/* Estilo do botão de inscrição da tela do index/Home */
.voluntariadoInicial {
   display: inline-block;
   background-color: #EEEEEE;
   color: black;
   text-decoration: none;
   padding: 12px 25px;
   border-radius: 6px;
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efeito ao passar o mouse sobre o botão de inscrição da tela do index/Home */
.voluntariadoInicial:hover {
    background-color: #3d7bff;
    color: white;
}

/* Estilo da seção de últimas notícias na tela do Index/Home*/
#ultimas-noticias {
    padding: 30px 5%;
    background-color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo do texto na seção do Podcast na tela Sobre Nós */
.podcast-texto {
    grid-column: 1 / 2; 
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}

/* Estilo do conteiner principal do podcast - Sobre Nós */
#podcast-depoimento {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas iguais */
    gap: 30px;
    align-items: center; /* Centraliza verticalmente */
    background-color: #3983c7;
    color: white;
    padding: 60px 5%;
}

/* Oculta o player de áudio - Sobre Nós*/
.podcast-player-hidden {
    display: none; 
}

/* personalizar card estilo spotify - Sobre Nós */
.podcast-card {
    background-color: #7ccfff; /* Cor de fundo azul claro */
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-image: url('../media/logoreagebr.jpg'); 
    background-size: cover; /* Cobre todo o card */
    background-position: center;
    background-blend-mode: overlay; 
}
/* Estilo do título e descrição do card - Sobre Nós*/
.podcast-card h3 {
    margin-bottom: 10px;
    font-size: 1.8em;
}

/* Estilo do título e descrição do card - Sobre Nós*/
.podcast-card p {
    font-size: 1.1em;
    opacity: 0.9;
}

/* Estilo do botão de play no Podcast - Sobre Nós**/
.play-button {
    background: none;
    border: 2px solid white;
    color: rgb(0, 0, 0);
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 50%; 
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

/* Efeito ao passar o mouse sobre o botão de play no Podcast - Sobre Nós**/
.play-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


/* Estilo das seções Nossa História, Essência e Missão - Sobre Nós */
.nossaHistoria1 {
    padding: 30px 5%;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo das seções Nossa História, Essência e Missão - Sobre Nós */
.essenciaMissao2 {
    padding: 30px 5%;
    background-color: #3983c7;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* Estilo dos títulos h2 das seções Nossa História, Essência e Missão - Sobre Nós */
.estatisticasText h2, .nossaHistoria1 h2 {
    margin-bottom: 15px;
    font-size: 2em;
    color: #000000;
}

/* Estilo dos títulos h2 das seções Nossa História, Essência e Missão - Sobre Nós */
.transparenciaFinanciamento {
    display: flex; 
    background-color: #f9f9f9;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    gap: 30px;
}

/* Estilo do texto na seção de Transparência e Financiamento - Sobre Nós */
.transparenciaFinanciamentoText {       
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);       
    flex-basis: 55%;
}

/* Estilo da imagem na seção de Transparência e Financiamento - Sobre Nós */
.transparenciaFinanciamentoImage {
    flex-basis: 45%; /
    border-radius: 8px;
    height: auto;
}

/* Estilo da imagem na seção de Transparência e Financiamento - Sobre Nós */
.transparenciaFinanciamentoImage img {
    width: 100%; /
    height: auto; 
    
    border-radius: 8px;
    display: block; 
}

/* Estilo da seção Nossa Equipe - Sobre Nós */
.nossaEquipe {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    gap: 30px;
    background-color: #3983c7;
}

/* Estilo do texto na seção Nossa Equipe - Sobre Nós */
.nossaEquipeText {       
    font-family: Arial, Helvetica, sans-serif;
    color: white;       
    flex-basis: 55%;
}

/* Estilo da imagem na seção Nossa Equipe - Sobre Nós */
.nossaEquipeImg {
    flex-basis: 45%; /
    border-radius: 8px;
    height: auto;
}

/* Estilo da imagem na seção Nossa Equipe - Sobre Nós */
.nossaEquipeImg img {
    width: 100%; 
    height: auto; 
    
    border-radius: 8px;
    display: block; 
}


/*Projetos e Ações - Tela Projetos*/
.projetosTextInicial {
    padding: 30px 5%;
    background-color: #3983c7; 
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

/* Estilo da seção Ação Petrópolis - Tela Projetos*/
.acaoPetropolis {
    background-color: #f9f9f9;
    padding: 30px 5%;
    margin-bottom: 0px; 
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo do conteúdo do artigo - Tela de Projetos*/
.artigo-conteudo {
    display: grid;
    grid-template-columns: 55% 1fr; 
    gap: 30px; 
    align-items: start; 
}

/* Estilo da imagem do artigo - Tela de Projetos*/
.artigo-imagem img {
    width: 100%; 
    height: 300px; 
    object-fit: cover;
    border-radius: 8px;
}

/* Estilo da seção Ação Nordeste - Tela Projetos*/
.acaoNordeste {
    background-color: #3983c7; 
    padding: 30px 5%;
    margin-bottom: 0px; 
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* Estilo do conteúdo flexível da seção Ação Nordeste - Tela Projetos*/
.conteudo-flex {
    display: flex; 
    flex-direction: row-reverse; 
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding-top: 20px; 
}

/* Estilo do título h3 da seção Ação Nordeste - Tela Projetos*/
.acaoNordeste h3 {
    text-align: right;
    padding: 0 10%;
}

/* Estilo do texto da seção Ação Nordeste - Tela Projetos*/
.nordesteTexto {
    flex-basis: 55%; 
}

/* Estilo da imagem da seção Ação Nordeste - Tela Projetos*/
.artigo-imagem {
    flex-basis: 40%;
}

/* Estilo do texto da seção Ação São Paulo - Tela Projetos*/
.acaoSaoPaulo {
    background-color: #f9f9f9;
    padding: 30px 5%;
    margin-bottom: 0px; 
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo do conteúdo flexível da seção Ação São Paulo - Tela Projetos*/
.conteudo-flex-SP {
    display: grid;
    grid-template-columns: 55% 1fr; 
    gap: 30px; 
    align-items: start; 
}

/* Estilo da imagem do artigo - SP - Tela de Projetos*/
.artigo-imagem img {
    width: 100%; 
    height: 300px; 
    object-fit: cover;
    border-radius: 8px;
}

.artigo-texto, .artigo-imagem {
    flex-basis: 55%; 
}


/* Estilo da seção Ação Rio Grande do Sul - Tela Projetos*/
.acaoRioGrandeSul {
    background-color: #3983c7; 
    padding: 30px 5%;
    margin-bottom: 0px; 
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* Estilo do conteúdo flexível da seção Ação Rio Grande do Sul - Tela Projetos*/
.artigo-conteudo-RS {
    display: flex; 
    flex-direction: row-reverse; 
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding-top: 20px; 
}

/* Estilo do título h3 da seção Ação Rio Grande do Sul - Tela Projetos*/
.acaoRioGrandeSul h3 {
    text-align: right;
    padding: 0 10%;
}

/* Estilo do texto da seção Ação Amazonas - Tela Projetos*/
.acaoAmazonia {
    background-color: #f9f9f9;
    padding: 30px 5%;
    margin-bottom: 0px; 
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo do conteúdo flexível da seção Amazonas - Tela Projetos*/
.artigo-conteudo-AM {
    display: grid;
    grid-template-columns: 55% 1fr; 
    gap: 30px; 
    align-items: start; 
}

/* Estilo da imagem do artigo - Tela de Projetos*/
.artigo-imagem img {
    width: 100%; 
    height: 300px; 
    object-fit: cover;
    border-radius: 8px;
}

/* Estilo do texto e imagem da seção Ação Amazonas - Tela Projetos*/
.artigo-texto, .artigo-imagem {
    flex-basis: 55%; 
}

/* Estilo do container da campanha do agasalho - Blog*/
.containerCampanhaAgasalho{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 30px 5%;
 gap: 30px;
 background-color: #3983c7;
 color: #ffffff;
 font-family: Arial, Helvetica, sans-serif;
}


.postCampanhaAgasalho{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 30px 5%;
}

.postAgasalhoText{
    flex-basis: 55%;
}

.video-container{
  flex-basis: 40%;

}

.video-container iframe{
    width: 100%;
    height: 300px;
    max-width: 100%;
    display: block;
    border-radius: 5%;
}

.containerVitoriaAnimal{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 30px 5%;
 gap: 30px;
 background-color:#f9f9f9; 
 color: #0f0000;
 font-family: Arial, Helvetica, sans-serif;
}

.postVitoriaAnimal{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.vitoriaAnimalImg img{
    grid-column: 2 / 3; 
    height: 100%; 
    border-radius: 8px;
}

.sidebar-blog{
 
    min-height: 150px;
    background-color: #3983c7;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border-end-end-radius: 8px;
}

.formnewsletter{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 15px;
}

.formnewsletter input{
    flex-grow: 0;
    padding: 8px 12px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.formnewsletter button{
    background-color: #ffffff;
    color: #000000;
    padding: 8px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.formnewsletter button [type="submit"]:hover{
       background-color: #2a64a0;
}










/* Estilo do Carrossel de Imagens */
.carrossel-item {
    display: flex; 
    align-items: center;
    overflow-x: scroll;
    flex-wrap: nowrap;
}

/* Estilo das Imagens do Carrossel */
.carrossel-item img {
    width: 300px;
    min-width: 300px;
    height: 200px;
    margin-right: 10px;
}