/*criando variavel de cores*/
:root{
    /*tons azulados*/
    --cor-primaria: #3983c7;      /* azul é a cor principal e identidade do design*/
    --hover-nav:  #3d7bff;  /* azul hover navegação */
    --incricao-home: #3d7bff; /*botao de inscrição da tela Home */
    --fundo-podcast: #7ccfff; /* Cor de fundo azul claro para o podcast */

    /* tons de laranjas */
    --cor-alerta: #FF7A00;            /* laranja de Doação */
    --cor-alerta-hover: #e66700;      /* laranja Escuro (Hover do footer)*/
    --cor-alerta-active: #d85f00;     /* laranja Ativo (Efeito de Clique)*/
    --rgba-laranja: rgba(255, 122, 0, 0.8); /* rgba laranja */

    /*cores neutras*/
    --cor-fundo-clara: #F9F9F9;   /* fundo das seções claras */
    --cor-fundo-escura: #333333;  /* coloração do footer */
    --cor-borda-suave: #CCCCCC;
    --cor-text-nav: #3f3f3f;  /*coloração de navegação*/
    --cinza-clarinho: rgba(255, 255, 255, 0.2); /*player podcast*/
    --cinza-rgb: rgba(0, 0, 0, 0.05);
    --form-inscricao: #acbbca; /*formulario de inscrição*/
    --shadow-box-contato: rgba(0, 0, 0, 0.1); /*sombra fundo de contato*/

    /* CORES DE BORDA E TEXTO */    
    --cor-borda-clara: #EEEEEE;      
    --cor-branco: #FFFFFF;
    --cor-preto: #000000;
}   

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

/* Estilo do Cabeçalho */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5%;
    background-color: var(--cor-branco);
    border-bottom: 1px solid var(--cor-borda-clara);
}
/* Container da logo e título */
.logo-container {
    display: flex; 
    align-items: center; 
    gap: 15px; 
    margin-bottom: 20px; 
}

/* tamanho da logo */
.logo-container img.logo { 
    max-width: 200px; 
    height: auto;
}

/* Estilo do Título H1 */
.logo-container h1 {
    font-size: 2.2em; 
    color: var(--cor-fundo-escura); 
    margin: 0; 
}

/* alinhamento do menu de navegação */
.main-nav ul {
    list-style: none; 
    display: flex; 
    justify-content: center; 
    gap: 25px; 
    padding: 0;
    margin: 0;
}

/* Estilo dos Links do Menu */
.main-nav ul li a {
    text-decoration: none; 
    color: var(--cor-text-nav); 
    font-weight: bold;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    transition: color 0.3s ease; 
}

/* Efeito ao passar o mouse sobre os links do menu */
.main-nav ul li a:hover {
    color: var(--hover-nav); 

}

/* Estilo da Seção inicial - tela de index*/
#hero {
    display: grid;
    grid-template-columns: 55% 1fr; 
    gap: 30px; 
    align-items: center; 
    min-height: 350px; 
    background-color: var(--cor-primaria); 
    color: var(--cor-branco); 
    padding: 30px 5%; 
    overflow: hidden; 
}

/* Estilo da Seção inicial - tela de index*/
.heroText {
    grid-column: 1 / 2; 
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}

/* Estilo da imagem na seção inicial - tela de index */
.heartMedia {
    height: 100%; 
    overflow: hidden; 
}

/* Estilo da imagem na seção inicial - tela de index*/
.heartMedia img {
    grid-column: 2 / 3; 
    height: 100%; 
    overflow: hidden;
    border-radius: 8px;

}

/* Estilo da seção de estatísticas - index*/
.estatisticas {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  gap: 30px;
}

/* Estilo da imagem na seção de estatísticas quais contem pessoas doando - index */
.equipeDoandoAlimentos{
    flex-basis: 45%;
}

/* Estilo da imagem na seção de estatísticas quais contem pessoas doando - index*/
.equipeDoandoAlimentos img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Estilo do texto na seção de estatísticas - index */
.estatisticasText {
    flex-basis: 55%;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo da seção de chamada para engajamento - index  */
.chamada-engajamento {
    display: grid;
    grid-template-columns: 55% 1fr; 
    gap: 30px; 
    align-items: center; 
    min-height: 350px; 
    background-color: var(--cor-primaria); 
    color: var(--cor-branco);
    padding: 30px 5%; 
    overflow: hidden; 
}

/* Estilo da imagem na seção de chamada para engajamento - index */
.chamadaImage {
    grid-column: 2 / 3;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
}

/* Estilo do texto na seção de chamada para engajamento - index/Home */
.chamadaText {
    grid-column: 1 / 2; 
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}

/* Estilo do botão de inscrição da tela do index/Home */
.voluntariadoInicial {
   display: inline-block;
   background-color: var(--cor-fundo-clara);
   color: var(--cor-preto);
   text-decoration: none;
   padding: 12px 25px;
   border-radius: 6px;
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efeito ao passar o mouse sobre o botão de inscrição da tela do index/Home */
.voluntariadoInicial:hover {
    background-color: var(--incricao-home);
    color: var(--cor-branco);
}

/* Estilo da seção de últimas notícias na tela do Index/Home*/
#ultimas-noticias {
    padding: 30px 5%;
    background-color: var(--cor-fundo-clara);
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo do texto na seção do Podcast na tela Sobre Nós */
.podcast-texto {
    grid-column: 1 / 2; 
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
}

/* Estilo do conteiner principal do podcast - Sobre Nós */
#podcast-depoimento {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas iguais */
    gap: 30px;
    align-items: center; /* Centraliza verticalmente */
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    padding: 60px 5%;
}

/* Oculta o player de áudio - Sobre Nós*/
.podcast-player-hidden {
    display: none; 
}

/* personalizar card estilo spotify - Sobre Nós */
.podcast-card {
    background-color: var(--fundo-podcast); /* Cor de fundo azul claro */
    color: var(--incricao-home);
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: var(--cor-preto);
    background-image: url('../media/logoreagebr.jpg'); 
    background-size: cover; /* Cobre todo o card */
    background-position: center;
    background-blend-mode: overlay; 
}
/* Estilo do título e descrição do card - Sobre Nós*/
.podcast-card h3 {
    margin-bottom: 10px;
    font-size: 1.8em;
}

/* Estilo do título e descrição do card - Sobre Nós*/
.podcast-card p {
    font-size: 1.1em;
    opacity: 0.9;
}

/* Estilo do botão de play no Podcast - Sobre Nós**/
.play-button {
    background: none;
    border: 2px solid var(--cor-branco);
    color: black;
    font-size: 2em;
    padding: 10px 20px;
    border-radius: 50%; 
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

/* Efeito ao passar o mouse sobre o botão de play no Podcast - Sobre Nós**/
.play-button:hover {
    background-color: var(--cinza-clarinho);
}


/* Estilo das seções Nossa História, Essência e Missão - Sobre Nós */
.nossaHistoria1 {
    padding: 30px 5%;
    background-color: var(--cor-fundo-clara);
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo das seções Nossa História, Essência e Missão - Sobre Nós */
.essenciaMissao2 {
    padding: 30px 5%;
    background-color: var(--cor-primaria);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-branco);
}

/* Estilo dos títulos h2 das seções Nossa História, Essência e Missão - Sobre Nós */
.estatisticasText h2, .nossaHistoria1 h2 {
    margin-bottom: 15px;
    font-size: 2em;
    color: var(--cor-preto);
}

/* Estilo dos títulos h2 das seções Nossa História, Essência e Missão - Sobre Nós */
.transparenciaFinanciamento {
    display: flex; 
    background-color: var(--cor-fundo-clara);
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    gap: 30px;
}

/* Estilo do texto na seção de Transparência e Financiamento - Sobre Nós */
.transparenciaFinanciamentoText {       
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-preto);      
    flex-basis: 55%;
}

/* Estilo da imagem na seção de Transparência e Financiamento - Sobre Nós */
.transparenciaFinanciamentoImage {
    flex-basis: 45%; /
    border-radius: 8px;
    height: auto;
}

/* Estilo da imagem na seção de Transparência e Financiamento - Sobre Nós */
.transparenciaFinanciamentoImage img {
    width: 100%; /
    height: auto; 
    
    border-radius: 8px;
    display: block; 
}

/* Estilo da seção Nossa Equipe - Sobre Nós */
.nossaEquipe {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    gap: 30px;
    background-color: var(--cor-primaria);
}

/* Estilo do texto na seção Nossa Equipe - Sobre Nós */
.nossaEquipeText {       
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-branco);      
    flex-basis: 55%;
}

/* Estilo da imagem na seção Nossa Equipe - Sobre Nós */
.nossaEquipeImg {
    flex-basis: 45%; /
    border-radius: 8px;
    height: auto;
}

/* Estilo da imagem na seção Nossa Equipe - Sobre Nós */
.nossaEquipeImg img {
    width: 100%; 
    height: auto; 
    
    border-radius: 8px;
    display: block; 
}


/*Projetos e Ações - Tela Projetos*/
.projetosTextInicial {
    padding: 30px 5%;
    background-color: var(--cor-primaria);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-branco);
}

/* Estilo da seção Ação Petrópolis - Tela Projetos*/
.acaoPetropolis {
    background-color: var(--cor-fundo-clara);
    padding: 30px 5%;
    margin-bottom: 0px; 
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo do conteúdo do artigo - Tela de Projetos*/
.artigo-conteudo {
    display: grid;
    grid-template-columns: 55% 1fr; 
    gap: 30px; 
    align-items: start; 
}

/* Estilo da imagem do artigo - Tela de Projetos*/
.artigo-imagem img {
    width: 100%; 
    height: 300px; 
    object-fit: cover;
    border-radius: 8px;
}

/* Estilo da seção Ação Nordeste - Tela Projetos*/
.acaoNordeste {
    background-color: var(--cor-primaria); 
    padding: 30px 5%;
    margin-bottom: 0px; 
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-branco);
}

/* Estilo do conteúdo flexível da seção Ação Nordeste - Tela Projetos*/
.conteudo-flex {
    display: flex; 
    flex-direction: row-reverse; 
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding-top: 20px; 
}

/* Estilo do título h3 da seção Ação Nordeste - Tela Projetos*/
.acaoNordeste h3 {
    text-align: right;
    padding: 0 10%;
}

/* Estilo do texto da seção Ação Nordeste - Tela Projetos*/
.nordesteTexto {
    flex-basis: 55%; 
}

/* Estilo da imagem da seção Ação Nordeste - Tela Projetos*/
.artigo-imagem {
    flex-basis: 40%;
}

/* Estilo do texto da seção Ação São Paulo - Tela Projetos*/
.acaoSaoPaulo {
    background-color: var(--cor-fundo-clara);
    padding: 30px 5%;
    margin-bottom: 0px; 
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo do conteúdo flexível da seção Ação São Paulo - Tela Projetos*/
.conteudo-flex-SP {
    display: grid;
    grid-template-columns: 55% 1fr; 
    gap: 30px; 
    align-items: start; 
}

/* Estilo da imagem do artigo - SP - Tela de Projetos*/
.artigo-imagem img {
    width: 100%; 
    height: 300px; 
    object-fit: cover;
    border-radius: 8px;
}

.artigo-texto, .artigo-imagem {
    flex-basis: 55%; 
}


/* Estilo da seção Ação Rio Grande do Sul - Tela Projetos*/
.acaoRioGrandeSul {
    background-color: var(--cor-primaria);
    padding: 30px 5%;
    margin-bottom: 0px; 
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-branco);
}

/* Estilo do conteúdo flexível da seção Ação Rio Grande do Sul - Tela Projetos*/
.artigo-conteudo-RS {
    display: flex; 
    flex-direction: row-reverse; 
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    padding-top: 20px; 
}

/* Estilo do título h3 da seção Ação Rio Grande do Sul - Tela Projetos*/
.acaoRioGrandeSul h3 {
    text-align: right;
    padding: 0 10%;
}

/* Estilo do texto da seção Ação Amazonas - Tela Projetos*/
.acaoAmazonia {
    background-color: var(--cor-fundo-clara);
    padding: 30px 5%;
    margin-bottom: 0px; 
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo do conteúdo flexível da seção Amazonas - Tela Projetos*/
.artigo-conteudo-AM {
    display: grid;
    grid-template-columns: 55% 1fr; 
    gap: 30px; 
    align-items: start; 
}

/* Estilo da imagem do artigo - Tela de Projetos*/
.artigo-imagem img {
    width: 100%; 
    height: 300px; 
    object-fit: cover;
    border-radius: 8px;
}

/* Estilo do texto e imagem da seção Ação Amazonas - Tela Projetos*/
.artigo-texto, .artigo-imagem {
    flex-basis: 55%; 
}

/* Estilo do container da campanha do agasalho - Blog*/
.containerCampanhaAgasalho{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 30px 5%;
 gap: 30px;
 background-color: var(--cor-primaria);
 color: var(--cor-branco);
 font-family: Arial, Helvetica, sans-serif;
}


.postCampanhaAgasalho{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 30px 5%;
}

.postAgasalhoText{
    flex-basis: 55%;
}

.video-container{
  flex-basis: 40%;

}

.video-container iframe{
    width: 100%;
    height: 300px;
    max-width: 100%;
    display: block;
    border-radius: 5%;
}

.containerVitoriaAnimal{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 30px 5%;
 gap: 30px;
 background-color: var(--cor-fundo-clara);
 color: var(--cor-preto);
 font-family: Arial, Helvetica, sans-serif;
}

.postVitoriaAnimal{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.vitoriaAnimalImg img{
    grid-column: 2 / 3; 
    height: 100%; 
    border-radius: 8px;
}

.sidebar-blog{
    min-height: 150px;
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;

}

.formnewsletter{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 15px;
}

.formnewsletter input{
    flex-grow: 0;
    padding: 8px 12px;
    border: 1px solid var(--cor-borda-suave);
    border-radius: 4px;
}

.formnewsletter button{
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    padding: 8px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/*Estilo da escrita e fundo - Voluntariado*/
.titulo-inscricao, .formulario-inscricao{
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

/*Estilo de todas as Divs do formulario - Voluntariado*/
.formulario-inscricao div{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

/*espaçamernto dos botoes de inscrição - voluntariado */
.formulario-inscricao label{
    margin-bottom: 5px;
}

/*Criando um espaçamento do formulario para o titulo da página*/
.formulario-inscricao form.forminscricao{
    padding: 5px;
}

/*estilo das caixas de inscrição - voluntariado */
.formulario-inscricao input[type="text"],
.formulario-inscricao input[type="email"],
.formulario-inscricao input[type="tel"],
.formulario-inscricao input[type="number"],
.formulario-inscricao select,
.formulario-inscricao textarea {
    width: 400px;
    padding: 5px 10px;
    border: 1px solid var(--cor-borda-suave);
    border-radius: 6px; 
    font-size: 1em;
    line-height: normal;
    color: var(--cor-preto);
    background-color: var(--cor-branco);
    display: block; 
    box-shadow: inset 0 1px 2px var(--cinza-rgb);
}

/* Estilo do Rótulo (para descolar do input) */
.formulario-inscricao label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--cor-branco);
    font-size: 1em;
}

/*melhorando o fundo da area de inscrição - Voluntariado */
.formulario-inscricao{
    background-image: url('../media/venhaFazerParte.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: var(--cor-primaria);
}



/*Estilo do botão '' inviar inscrição '' - voluntariado */
.formulario-inscricao button[type="submit"]{
    display: block;
    width: 20%;
    padding: 6px;
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

/*Estilo do botão '' inviar inscrição '' - voluntariado */
.formulario-inscricao button[type="submit"]:hover {
    background-color: var(--form-inscricao);
}

/*estilo do Nav - Contato */
.contatogeral{
    padding: 10px;
    background-image: url('../media/equipeDoandoAlimentos.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: var(--cor-primaria);
}

/*estilização da caixa de informações de contato - Contato */
.contato-informacoes{
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px var(--shadow-box-contato);
}

/*Estilização da parte para entrarmos em contato - Contato */
#form-contato{
    max-width: 600px;
    margin: 30px auto;
    background-color: var(--cor-fundo-clara);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px var(--shadow-box-contato);
    font-family: Arial, sans-serif;

}

/*Botoes para nos enviar uma solicitação */
#form-contato input[type="text"],
#form-contato input[type="email"],
#form-contato input[type="file"], 
#form-contato textarea {
    width: 100%;
    padding: 5px 15px;
    border: 1px solid var(--cor-borda-suave);
    border-radius: 6px;
    color: var(-cor-preto);
    font-family: Arial, sans-serif;
    font-size: 1em;
    display: block;
    box-shadow: inset 0 1px 2px var(--shadow-box-contato);
    outline: none;
}

/*botoes para envio do formulario - contato */
#form-contato button[type="submit"] {
   display: block;
   width: 100%;
   padding: 15px;
   background-color: var(--cor-primaria);
   color: var(--cor-branco);
   border: none;
   border-radius: 6px;
   font-size: 1.2em;
   font-weight: bold;
   cursor: pointer;
   transition: background-color 0.3s ease;
   margin-top: 20px;

}

/*Fundo da area de transparencia - Transparencia */
.transparencia{
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    font-family: Arial, sans-serif;
    padding: 50px;
}

/*Borda do canvas e formato -Transparencia*/
#distribuicao-recursos,
#evolucao-voluntarios {
    margin: 20px auto;
    border: 1px solid var(--cor-borda-clara) ;
    border-radius: 8px;
    display: block;

}

/*Area de LGPD - Transparencia */
.lgpd{
    background-color: var(--cor-fundo-clara);
    color: var(--cor-preto);
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
}

/*Estilizando os titulos H3 da LGPD - Transparencia*/
.lgpd h3 {
    color: #333;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--cor-borda-clara);
    padding-bottom: 5px;
}


/* Estilo do Carrossel de Imagens */
.carrossel-item {
    display: flex; 
    align-items: center;
    overflow-x: scroll;
    flex-wrap: nowrap;
}

/* Estilo das Imagens do Carrossel */
.carrossel-item img {
    width: 300px;
    min-width: 300px;
    height: 200px;
    margin-right: 10px;
}

/*formulario de doação - Doações */
#formulario-doacao{
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    width: 100%;
    padding: 40px 5%;
    margin: 0 auto;
}

/*formulario de doação - Doações */
#formulario-doacao form{
    max-width: 900px;
    margin: 20px;
    background-color: var(--cor-fundo-clara);
    color: var(--cor-preto);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px var(--cinza-rgb);
    border: 1px solid var(--cor-fundo-clara);
    font-family: Arial, sans-serif;
}

#formulario-doacao h2{
   padding-left: 20px;
}

/*Estilo dos botoes e opcoes no formulario de doações - Doações*/
#formulario-doacao input[type="text"],
#formulario-doacao input[type="email"],
#formulario-doacao input[type="tel"],
#formulario-doacao input[type="number"],
#formulario-doacao select {
    width: 50%;
    padding: 5px 10px;
    border: 1px solid var(--cor-borda-suave);
    border-radius: 6px;
    color: var(--cor-preto);
    font-size: 1em;
    display: block;
}

/* Estilo para os títulos de grupo de campos - Doações */
#formulario-doacao fieldset legend {
    font-size: 1.25em; 
    font-weight: 700;
    color: var(--cor-preto);
    margin-bottom: 25px; 
    padding-bottom: 5px;
}

.form-group{
    margin-bottom: 15px;
}

/*estilo para os rótulos (label) - Doações */
#formulario-doacao fieldset label {
    display: block; 
    margin-bottom: 8px;
    color: var(--cor-preto);
    font-weight: 600;
}

/*Estilo do texto e caixinha de preenchimento - Doações */
#formulario-doacao input[type="text"],
#formulario-doacao input[type="email"],
#formulario-doacao input[type="tel"],
#formulario-doacao input[type="number"],
#formulario-doacao select {
    width: 50%; 
    padding: 12px 15px;
    border: 1px solid var(--cor-borda-suave);
    border-radius: 6px;
    color: var(--cor-preto);
    background-color: var(--cor-branco);
}

/*caixinha de valor de doação - Doação*/
#valor {
    max-width: 150px; 
    text-align: right; 
}

/* Corrigindo as Bolinhas de Rádio para ficarem lado a lado com o texto- Doação */
.radio-options {
    display: flex;
    gap: 5px; 
    margin-top: 10px;
}

/* Garante que o rótulo do rádio button fique na mesma linha da bolinha- Doação */
.radio-options label {
    display: inline-block; 
    margin-bottom: 0; 
}

/*botao final de doação*/
.cta-doar-final {
    display: block;
    width: 100%; 
    padding: 15px;
    font-size: 1.1em; 
    font-weight: bold;
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}

#chamada-transparencia{
    margin: 10px;
    background-color: var(--cor-fundo-clara);
    color: var(--cor-preto);
    padding: 30px;
    font-family: Arial, sans-serif;
}

/*Estilo do footer*/
footer {
    display: flex;
    justify-content: column;
    align-items: center;
    gap: 15px;
    background-color: var(--cor-fundo-escura); 
    color: var(--cor-branco);         
    padding: 20px 5%; 
    font-family: Arial, sans-serif;
    font-size: 0.9em; 
}

.links-uteis{
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.redes-sociais{
    display: flex;
    gap: 15px;
}

footer a{
    color: var(--cor-branco);
}

footer a:hover {
    color: var(--cor-alerta);
}

/* ESTILO DO BOTÃO DOAÇÕES DE DESTAQUE NO HEADER */
.botao-doar {
    display: inline-block; 
    background-color: var(--cor-alerta); 
    color: var(--cor-branco) !important; 
    text-decoration: none;
    padding: 10px 18px; 
    border-radius: 6px; 
    font-weight: bold; 
    transition: background-color 0.3s ease;
}

.botao-doar:hover {
    background-color: var(--cor-alerta-hover);
}

.botao-doar:focus {
    outline: 2px solid var(--cor-branco); 
    outline-offset: 2px;     
    box-shadow: 0 0 5px var(-rgba-laranja);
}

.botao-doar:active {
    transform: scale(0.98); 
    background-color: var(--cor-alerta-active);
}


/*
* ========================================================
* RESPONSIVIDADE: QUEBRANDO LAYOUTS DE COLUNA (MOBILE-FIRST)
* ========================================================
*/
@media (max-width: 768px) {
    
    .main-nav ul {
        flex-direction: column; 
        width: 100%;
        align-items: center; 
        gap: 0; 
    }
    .main-nav ul li {
        width: 100%;
        margin-bottom: 8px;
        text-align: center;
    }
    .logo-container {
        flex-direction: column; 
    }

    .estatisticas,
    .chamada-engajamento,
    .nossaEquipe,
    .transparenciaFinanciamento,
    .artigo-conteudo, 
    .conteudo-flex,
    .artigo-conteudo-RS,
    .artigo-conteudo-AM,
    #podcast-depoimento, 
    .blog-post { 
        flex-direction: column; 
        display: flex; 
        grid-template-columns: 1fr; 
        gap: 20px;
        padding-left: 5%; 
        padding-right: 5%;
    }
    .heroText, .heartMedia, .estatisticasText, .equipeDoandoAlimentos, .chamadaText, .chamadaImage, .nossaEquipeText, .nossaEquipeImg, .transparenciaFinanciamentoText, .transparenciaFinanciamentoImage, .artigo-texto, .artigo-imagem, .nordesteTexto, .postAgasalhoText, .video-container {
        
        flex-basis: auto !important; 
        width: 100% !important; 
        
        text-align: left; /
        padding-right: 0 !important; 
        margin-bottom: 15px; 
    }

    .heroText, .estatisticasText, .chamadaText, .nossaEquipeText, .transparenciaFinanciamentoText, .artigo-texto, .nordesteTexto, .postAgasalhoText {
        order: 1; 
    }

    .heartMedia, .equipeDoandoAlimentos, .chamadaImage, .nossaEquipeImg, .transparenciaFinanciamentoImage, .artigo-imagem, .video-container {
        order: 2; 
        width: 100%;
        height: 250px; 
        overflow: hidden;
        margin-bottom: 0; 
    }
}

/* Responsividade para o Blog */
@media (max-width: 768px) {
    .containerCampanhaAgasalho {
        flex-direction: column;
        text-align: center;
        padding: 20px 3%;
    }

    .postCampanhaAgasalho {
        flex-direction: column;
        padding: 20px 3%;
    }

    .postAgasalhoText {
        width: 100%;
    }


    .video-container {
        width: 100%;
        margin-top: 20px;
    }

    .video-container iframe {
        height: 250px;
    }


    .containerVitoriaAnimal {
        flex-direction: column;
        text-align: center;
    }

    .postVitoriaAnimal {
        flex-direction: column;
    }

    .vitoriaAnimalImg img {
        width: 100%;
        margin-top: 20px;
    }

    .sidebar-blog {
        width: 100%;
        margin-top: 30px;
        padding: 20px;
    }

    .formnewsletter {
        width: 100%;
    }

    .formnewsletter input,
    .formnewsletter button {
        width: 100%;
        margin: 5px 0;
    }
}

/*corrigir espaçamento em branco no mobile da vitoria animal e formulario newsletter */
@media (max-width: 768px) {
    .sidebar-blog {
        margin-top: -10px !important; 
    }
}